body {
    background-image:linear-gradient(to right, rgba(146,205,255,0), rgba(146,205,255,1));
    padding: 20px;
}
h1{
    font-size: 48px;
}
h3 {
    font-size:28px
}
.main {
    margin:20px;
}
.main > div{
    margin-bottom: 30px;
}
.text_head{
    color:rgba(100,205,255,1);
    font-family: 'Playfair Display', serif;
    text-shadow: 4px 2px 8px;
}
.text{
    font-family: 'Lora', serif;
    font-size: 20px;
}
.btn {
    background-color: rgba(100,205,255,1);
    border: 0px ;
    border-left: 4px solid rgb(0, 115, 168);
    color:rgb(0, 115, 168);
}
.btn:hover {
    cursor:pointer;
    background-color: #74ffff;
}
.hidden{
    display:none;
}

div.date {
    width: 350px;
    height: 50px;
    border-bottom:4px solid rgb(0, 115, 168);
}
div.date > p {
    text-align:center;
    vertical-align:bottom;
    display:table-cell;
    font-family: 'Lora', serif;
}
.second_table {
    background-image:linear-gradient(to right,rgba(0, 0, 0,0), rgb(59, 59, 59));
    box-shadow: 10px 5px 10px  rgb(136, 136, 136);

}
.second_table td:last-child, .second_table td:nth-last-child(2)  {
    background-color: rgb(199, 193, 199);
    text-align: center;
}
.before_d {
    text-decoration:line-through rgb(75, 71, 71);
}
.second_table td {
    text-align: center;    
}
.current_day {
    border-radius: 45%;
    border:2px solid red;
    outline: none;
}
.not_cur_month {
    color:rgb(126, 126, 126);
}
.picture {
    background-image: url(img/giphy.gif);
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    width:400px;
    z-index: 1;
}
div.random {
    margin-top:50px;
}
table.random {
    border:1px solid rgb(0, 115, 168);
  }
tr.random > td {
    border:1px solid rgb(0, 115, 168);
    background-color:transparent;
    padding:20px;
    color:rgb(5, 81, 126);
    text-shadow: 0px 0px 20px #005858;
}
.lightned:hover {
    box-shadow: 0px 0px 12px rgb(0, 115, 168);
}
tr.random >td:hover {
    cursor: pointer;
} 
.ul-sweets {
    list-style-type: none;
    width:10vh;
    box-shadow: -10px 0px 10px rgb(0, 115, 168), -10px 0px 15px rgb(108, 255, 63);
    border-radius: 15%;
}
.li-sweets {
    margin:10px;
    font-family: 'Playfair Display', serif;
    color:#005858;
}
.under_pict{
    color:#005858;
    font-size: 32px;
}

.under > img {
    max-width: 75%;
    max-height: 75%;
    margin:0 auto;
    display: block;
    z-index:1;
}
.centered {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index:-1;
}
.under {
    position: relative;
    margin-top:40px;
}
.form-input{
    border:0;
    border-bottom:2px solid #ccc;
    margin:10px 0 10px 0;
    max-width: 120px;
    height: 3vh;
    box-shadow: 10px 0 10px rgba(0,0,0,0.1);
}
.form-input:hover {

    background-color: #e0e0e0;
}
.form-input:focus {
    border:1px solid #e0e0e0;

}
.form-input:active {
    border:1px solid #e0e0e0;
}
.form-field {
    border:0;
    border-top:1px solid #e0e0e0;
    border-right:1px solid #e0e0e0;
}
.form {
    color:#777777;
    margin-top:20px;
    max-width:440px ;
    box-shadow: -10px 4px 10px rgba(0,0,0,0.2);
    background: repeating-linear-gradient(45deg,rgb(216, 216, 216),rgb(192, 192, 192) 30px);
}
.form-field-in {
    border:0;
    border-top:1px solid #e0e0e0;
    border-left:1px solid #e0e0e0;
}
.container {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.column:last-child {
    margin-left:70px;
}
.col {
    position:relative;
    margin:auto;
}
.btn-subm {
    border:1px solid #e0e0e0;
    border-radius: 15%;
    margin-top:10px;
    background-color: transparent;
    color:#777777;
    padding:8px;
}
.btn-subm:hover {
    background-color: #e9e9e9;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.right {
    position:absolute; 
    right:0;
}